body {
    font-family: algerian, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("https://images.hdqwalls.com/wallpapers/clocks-artwork-pic.jpg");
    background-size: cover;
}

.container {
    text-align:center;
    margin-top: 7%;
    background:rgb(220,220,220,220);
    padding: 60px;
    border-radius: 1000px;
    box-shadow: rgba(1,1,1,0.1);
    
}

#timer {
    font-size: 10rem;
    margin: 30px ;
}